<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="16cbb2a8-ee39-45d5-a823-1a898d1c9dc8" Publisher="CN=just" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Hub_Template</DisplayName>
    <PublisherDisplayName>just</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Hub_Template.App">
      <m2:VisualElements DisplayName="Hub Template" Square150x150Logo="Assets\logo.png" Square30x30Logo="Assets\Smallest_Logo.png" Description="Hub Template" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile Wide310x150Logo="Assets/Wide_Logo.png" DefaultSize="wide310x150Logo">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\Splash.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>